@use '@/shared/lib/styles/mixin.scss' as *;

.percentege_graph {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  &__content {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid rgba(4, 2, 19, 0.12);
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 330px;
    overflow: hidden;
    border-radius: 4px;
    background: rgba(4, 2, 19, 0.04);
  }
  &__col__item {
    width: 100%;

    background: $accent;
    transition: height 0.3s ease-in-out;
  }
  &__value {
    color: $light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
