@use '@/shared/lib/styles/mixin.scss' as *;

.percentege_graph {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  &__col {
    display: flex;
    width: 40px;
    height: 150px;
    padding: 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid rgba(4, 2, 19, 0.12);
  }
  &__col__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    background: rgba(4, 2, 19, 0.04);
    &.active {
      background: $accent;
    }
  }
  &__value {
    color: $light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
