@use '@/shared/lib/styles/mixin.scss' as *;

.our_expertise {
  border-bottom: 1px solid rgba(4, 2, 19, 0.08);
  border-top: 1px solid rgba(4, 2, 19, 0.08);
  background: #fff9fa;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 135px 64px;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    //border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      padding: 64px 12px;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    img {
      @include tablet {
        display: none;
      }
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include tablet {
      width: 100%;
      align-items: center;
      text-align: center;
    }
    h2 {
      color: $primary;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      @include tablet {
        font-size: 32px;
      }
    }
    p {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
    }
  }
  &__item {
    width: 33.33%;
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid rgba(4, 2, 19, 0.08);
    background: #fff;
    position: relative;
    @include tablet {
      width: 100%;
      padding: 24px;
    }
    &:nth-child(3),
    &:nth-child(4) {
      background: #fbfbfb;
      .top_right {
        display: block;
      }
      .bottom_left {
        display: block;
      }
    }
    .top_right {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: contain;
      object-position: top right;
      width: 20px;
      height: 20px;
      display: none;
    }
    .bottom_left {
      position: absolute;
      bottom: 0;
      left: 0;
      object-fit: contain;
      object-position: bottom left;
      width: 20px;
      height: 20px;
      display: none;
    }
    h3 {
      margin-top: 14px;
      color: $primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 26.4px */
    }
    p {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
