@use '@/shared/lib/styles/mixin.scss' as *;

.header {
  background-color: #090909;
  position: relative;
  padding: 16px 0;
  &__container {
    padding: 14px 100px;
    @include tablet {
      padding: 14px 16px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    @include tablet {
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    @include tablet {
      display: none;
    }
    a {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:hover {
        color: $accent;
      }
    }
  }

  &__contact {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
    @include tablet {
      display: none;
    }
  }

  &__submenu {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    background-color: #090909;
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include tablet {
      display: none;
    }
    a,
    span {
      color: #dbdcd5;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    span {
      font-weight: 400;
    }
  }

  &__mobile_menu_button {
    display: none;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
    width: 32px;
    height: 32px;
    &.open {
      transform: rotate(180deg);
    }
    @include tablet {
      display: block;
    }
  }

  &__mobile_menu {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #040213;
    padding: 24px;
    height: calc(100vh - 60px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      a {
        width: 100%;
        display: flex;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 6px;
        background: #0e0c1c;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__mobile_menu_contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    a {
      color: #dbdcd5;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__mobile_menu_contact_social {
    display: flex;
    gap: 16px;
  }
}
