@use '@/shared/lib/styles/mixin.scss' as *;

.about_security {
  &__content {
    display: flex;
    align-items: stretch;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
    }
  }
  &__col_2 {
    width: 50%;
    display: flex;
    @include tablet {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    }
    > div {
      width: 50%;
      &.inner1 {
        display: flex;
        flex-direction: column;
        padding: 60px 24px;
        justify-content: space-between;
        @include tablet {
          padding: 60px 20px;
        }
        > div {
          width: fit-content;
          display: inline-flex;

          padding: 12.766px;
          align-items: center;
          gap: 10.638px;
          border-radius: 17.021px;
          border: 1.064px solid rgba(4, 2, 19, 0.1);
          opacity: 0.35;
          background: #e8e8e9;
          color: #040213;
          font-size: 14.893px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          @include tablet {
            font-size: 10px;
          }
          &.item1 {
            transform: rotate(-10.7deg);
            font-size: 12px;
            margin: 0 auto;
            @include tablet {
              font-size: 8px;
            }
          }
          &.item2 {
            transform: rotate(12.324deg);
            margin-left: auto;
          }
          &.item3 {
            transform: rotate(-8.647deg);
          }
        }
      }
      &.inner2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $accent;
        background-image: url('/images/about-us/security/back.png');
        padding: 60px 24px;
        @include tablet {
          padding: 60px 20px;
        }
        > img {
          @include tablet {
            height: 65px;
          }
        }
        > div {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 16px;
          border: 2px solid #fff;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.05) 0%,
            rgba(255, 255, 255, 0.15) 100%
          );
          backdrop-filter: blur(4px);
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          @include tablet {
            font-size: 9px;
            padding: 8px 10px;
            gap: 6px;
          }
          &:first-child {
            border-radius: 16px;
            border: 1px solid rgba(4, 2, 19, 0.3);
            background: linear-gradient(180deg, #fff 0%, #fff0f4 100%);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
            color: $accent;
          }
          img {
            width: 24px;
            height: auto;
            @include tablet {
              width: 16px;
            }
          }
          span {
            width: calc(100% - 34px);
            @include tablet {
              width: calc(100% - 22px);
            }
          }
        }
      }
    }
  }
  &__col_1 {
    border-right: 1px solid rgba(4, 2, 19, 0.08);

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 64px;
    gap: 16px;
    @include tablet {
      width: 100%;
      border-left: none;
      padding: 24px;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
      border-right: none;
    }
    .title {
      color: $primary;
      font-size: 40px;
      font-weight: 500;
      line-height: 110%;
      text-align: left;
      @include tablet {
        font-size: 32px;
      }
      span {
        color: $accent;
      }
    }
    .subtitle {
      color: $light;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-align: left;
    }
    .button {
      margin-top: 16px;
    }
  }
}
