@use '@/shared/lib/styles/mixin.scss' as *;

.about_us_hero {
  &__content {
    display: flex;
    align-items: stretch;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
    }
  }
  &__col_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    padding: 140px 64px;
    background-image: url('/images/team/experts/photosBack.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 655px;
    @include tablet {
      width: 100%;
      height: 440px;
      border-right: none;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
      padding: 32px 12px;
    }
    .about_us_hero__wrapper {
      width: 155px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 41px;
      margin: auto;
      a {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
        width: fit-content;
        white-space: nowrap;
      }
      .line1 {
        position: absolute;
        top: -127px;
        left: -15px;
        @include tablet {
          display: none;
        }
      }
      .line2 {
        position: absolute;
        top: -40px;
        right: -36px;
        @include tablet {
          display: none;
        }
      }
      .line3 {
        position: absolute;
        bottom: -75px;
        left: 18px;
        @include tablet {
          display: none;
        }
      }
      .line4 {
        position: absolute;
        bottom: 15px;
        left: -90px;
        @include tablet {
          display: none;
        }
      }
      .line1Mobile {
        display: none;
        position: absolute;
        top: -127px;
        left: 30px;
        @include tablet {
          display: block;
        }
      }
      .line2Mobile {
        display: none;
        position: absolute;
        top: -25px;
        right: -36px;
        @include tablet {
          display: block;
        }
      }
      .line3Mobile {
        display: none;
        position: absolute;
        bottom: -60px;
        left: 30px;
        @include tablet {
          display: block;
        }
      }
      .line4Mobile {
        display: none;
        position: absolute;
        bottom: 15px;
        left: -45px;
        @include tablet {
          display: block;
        }
      }
      > span {
        color: #040213;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 16px;
        border: 1px solid rgba(4, 2, 19, 0.1);
        background: #f7f7f8;
        display: inline-flex;
        padding: 12px;
        align-items: center;
        gap: 10px;
        position: absolute;
        width: fit-content;
        white-space: nowrap;
        z-index: 0;
        &.text1 {
          top: -175px;
          left: -60px;
          @include tablet {
            left: -20px;
            top: -165px;
          }
        }
        &.text2 {
          top: -87px;
          right: -90px;
          @include tablet {
            right: -80px;
            top: -70px;
          }
        }
        &.text3 {
          bottom: -120px;
          left: -50px;
          @include tablet {
            bottom: -105px;
            left: -40px;
          }
        }
        &.text4 {
          top: -60px;
          left: -130px;
          @include tablet {
            left: -85px;
          }
        }
      }
    }
  }
  &__col_1 {
    border-left: 1px solid rgba(4, 2, 19, 0.08);

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 64px;
    gap: 16px;
    @include tablet {
      width: 100%;
      border-left: none;
      padding: 24px;
    }
    .title {
      color: $primary;
      font-size: 42px;
      font-weight: 500;
      line-height: 110%;
      text-align: left;
      @include tablet {
        font-size: 32px;
        text-align: center;
      }
      span {
        color: $accent;
      }
    }
    .subtitle {
      color: $light;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      margin-bottom: 16px;
    }
  }
}
