@use '@/shared/lib/styles/mixin.scss' as *;

.the_challenge {
  &__content {
    display: flex;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
    }
  }
  &__col_1 {
    width: 50%;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    }
    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      width: 100%;
      padding: 150px 64px;
      @include tablet {
        padding: 64px 12px;
      }
      .title {
        color: $primary;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        @include tablet {
          font-size: 32px;
        }
      }
      .subtitle {
        color: $accent;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
      }
      .text {
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .bottom {
      border-top: 1px solid rgba(4, 2, 19, 0.08);
      padding: 24px 64px;
      background-image: url('/images/home/cellPattern.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @include tablet {
        padding: 24px 12px;
      }
      p {
        color: $primary;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &__col_2 {
    padding: 64px;
    width: 50%;
    @include tablet {
      width: 100%;
      padding: 64px 12px;
    }
    .inner {
      width: 100%;
      display: flex;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      border: 1px solid rgba(4, 2, 19, 0.12);
      position: relative;
      > img {
        width: 100%;
        height: auto;
        &:first-child {
          position: absolute;
          top: 0;
          left: 0;
        }
        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .graph {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        width: 100%;
        margin-bottom: 8px;
      }

      h3 {
        width: 100%;
        color: $primary;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 26.4px */
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(4, 2, 19, 0.12);
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        align-self: stretch;
        li {
          color: $primary;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          padding: 5px 10px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: rgba(4, 2, 19, 0.03);
        }
      }
    }
  }
}
