@use '@/shared/lib/styles/mixin.scss' as *;

.secure {
  &__content {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
    }
  }
  &__col_2 {
    width: 50%;

    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:32px;
    @include tablet {
      padding: 32px 12px;
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
      align-items: center;
    }
    .title {
      color: $primary;
      font-size: 38px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-align: left;
      @include tablet {
        font-size: 30px;
        text-align: center;
      }
    }
    .text {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      margin-bottom: 16px;
    }
  }
  &__col_1 {
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    width: 50%;
    padding: 64px;
    @include tablet {
      width: 100%;
      padding: 32px;
      position: relative;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    }
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
}
