@use '@/shared/lib/styles/mixin.scss' as *;

.about {
  &__heading {
    display: flex;
    padding: 64px;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
      padding: 32px 12px;
    }
    .title {
      color: $primary;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-align: left;
      width: 50%;
      @include tablet {
        font-size: 32px;
        width: 100%;
        text-align: center;
      }
    }
    .subtitle {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 50%;
      @include tablet {
        width: 100%;
        text-align: center;
      }
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    .col {
      width: 50%;
      display: flex;
      padding: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      border-right: 1px solid rgba(4, 2, 19, 0.08);
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
      background: #fff;
      @include tablet {
        width: 100%;
        padding: 24px 12px;
      }
      .number {
        color: $primary;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 46.2px */
      }
      h3 {
        color: $primary;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 26.4px */
      }
      p {
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &.accent {
          color: $accent;
        }
      }
      a {
        margin-top: 14px;
      }
    }
  }
}
