@use '@/shared/lib/styles/mixin.scss' as *;

.integrator_second {
  &__content {
    display: flex;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
    }
  }
  &__col_1 {
    width: 50%;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    align-self: stretch;
    padding: 64px;
    @include tablet {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgba(4, 2, 19, 0.08);
      padding: 32px 12px;
    }
    .title {
      color: $primary;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      @include tablet {
        font-size: 32px;
      }
    }
    .subtitle {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
    }
    .text {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__col_2 {
    padding: 64px;
    width: 50%;
    @include tablet {
      width: 100%;
      padding: 24px;
    }
    .inner {
      width: 100%;
      display: flex;
      padding: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      border: 1px solid rgba(4, 2, 19, 0.12);
      position: relative;
      > img {
        width: 100%;
        height: auto;
        &:first-child {
          position: absolute;
          top: 0;
          left: 0;
        }
        &:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .graph {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        width: 100%;
        margin-bottom: 8px;
      }

      .chart {
        width: 100%;
        display: block;
        margin-bottom: 24px;
        height: auto;
      }

      h3 {
        width: 100%;
        color: $primary;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 26.4px */
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(4, 2, 19, 0.12);
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        li {
          color: $light;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          padding-left: 16px;
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
            &:after {
              display: none;
            }
          }
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 8px;
            background: url('/images/integrator/listItem.svg') no-repeat center center;
            background-size: contain;
            background-position: center center;
          }
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 150px;
            height: 1px;
            background: rgba(4, 2, 19, 0.12);
          }
          b {
            display: block;
            color: $primary;
          }
        }
      }
    }
  }
}
