@use '@/shared/lib/styles/mixin.scss' as *;

.home_hero {
  background: #040213;
  padding: 64px 0px 0px 0px;
  overflow: hidden;
  position: relative;
  &__lights {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 396px;
    @include tablet {
      display: none;
    }
    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
  &__buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 84px;
    @include tablet {
      margin-bottom: 40px;
    }
    > span {
      color: $light;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
    h1 {
      color: #fff;
      font-size: 52px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      text-align: center;
      span {
        color: $accent;
      }
      @include tablet {
        font-size: 48px;
      }
    }
    p {
      color: $light;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      line-height: normal;
      font-weight: 400;
      max-width: 515px;
      margin: 0 auto;
    }
  }
  &__ellipse {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      @include tablet {
        width: 100%;
        height: 244px;
        object-fit: cover;
      }
    }
  }
}
